{{define "error"}}
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>githubテスト</title>
</head>
<body>

<h1> リポジトリが見つかりませんでした。設定を見直してください </h1>

</body>
</html>
{{end}}
